<div class = "container">
<h1>Your Upcoming Walks: </h1>

  <% current_user.dogs.each do |dog| %>
    <%= link_to dog.name, dog_path(dog) %>
    <br>
      <%dog.walks.each do |walk| %>
      <% if current_user.id == walk.user_id %>
        <%= walk.day %> at <%= walk.time %>
      <% end %>
      <br>
      <% end %>
    <% end %>

</div>
