<div class = "container">
  <table>
      <th>Dog</th>
      <th>Walker</th>

      <th>Day</th>
      <th>Time</th>
    </tr>
    <% @walks.each do |walk| %>
      <tr>
          <% if walk.reserved? %>
              <td> <%= walk.dog.name %></td>
              <td> <%= link_to walk.user.username, user_path(walk.user) %></td>
              <td> <%= walk.day %></td>
              <td> <%= walk.time %></td>
            <% end %>
          <% end %>
      </tr>
    </table>
</div>
