<div class = "container">
  <h1>Walks for <%=Time.now.strftime("%A, %m/%d/%Y")%> </h1>
  <table>
    <tr>
      <th>Name</th>
      <th>Time</th>
    </tr>
    <% @walks.each do |walk| %>
      <tr>
        <% if !walk.reserved?  %>
          <% if !current_user.admin?  %>

            <td><%= link_to walk.dog.name, dog_path(walk.dog) %></td>
          <% else %>
            <td><%= walk.dog.name %>
          <% end %>
            <td><%= walk.time %></td>
            <% end %>
      </tr>
    <% end %>
    </table>
</div>
