<div class = "container">
  <h1>Walks for <%=Time.now.strftime("%A, %m/%d/%Y")%> </h1>
  <% @walks.each do |walk| %>
    <% if walk.day == Time.now.strftime("%A") %>
      <%= link_to walk.dog.name, dog_path(walk.dog) %> at <%= walk.time %>
      <% end %>
      <% end %>
</div>
